
:root{
        --main-000-color: #141414;
        --main-001-color: #680000;
        --main-002-color: #8b0304;
        --main-003-color: #b11116;
        --main-004-color: #ed1c24;
        --main-005-color: #ff2a31;
        --main-006-color: #FC363D;
}
